html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Light'),
        url(../fonts/Montserrat-Light.woff2) format('woff2'),
        url(../fonts/Montserrat-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'),
        url(../fonts/Montserrat-Regular.woff2) format('woff2'),
        url(../fonts/Montserrat-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'),
        url(../fonts/Montserrat-Bold.woff2) format('woff2'),
        url(../fonts/Montserrat-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    font-weight: 400;
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    outline: none;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;
    background-color: #f90;
    border-radius: 16px;
}

.flex {
    display: flex;
}

.container {
    max-width: 1870px;
    margin: 0 auto;
    padding: 0 50px;
}

.section-title {
    margin: 0;
    color: #000;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.section-descr {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

:root {
    --gap: 32px;
}

/* header */
.header {
    padding: 14px 0;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__container {
    justify-content: space-between;
}

.logo__img {
    min-width: unset;
    margin-right: 12.16px;
}

.logo__text {
    min-width: unset;
}

.header__logo {
    max-width: 225px;
    align-items: center;
}

.header__nav {
    gap: 85px;
    align-items: center;
}

.nav__list {
    gap: 85px;
    align-items: center;
}

.item__link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: border-bottom 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.item__link:focus {
    outline: 2px solid #F90;
    outline-offset: 5px;
}

.item__link:hover {
    border-bottom: 2px solid #F90;
}

.item__link:active {
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
    outline: none;
}

.nav__search__svg {
    fill: transparent;
    stroke-width: 2px;
    stroke: #000;
    transition: stroke 0.3s ease-in-out;
}

.nav__search:focus {
    outline: 2px solid #f90;
    outline-offset: 2px;
}

.nav__search:hover .nav__search__svg {
    stroke: rgba(255, 153, 0, 1);
}

.nav__search:active {
    outline: none;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.header__nav::-webkit-scrollbar {
    display: none;
  }
   
  /* Скрываем scrollbar для IE, Edge и Firefox */
.header__nav {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* start */
.start {
    padding: 50px 0 0;
}

.start__wrapper {
    max-width: 1770px;
    min-height: 620px;
    padding: 100px 80px 100px 80px;
    background-image: url(../img/start-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 32px;
}

.start__title {
    max-width: 837px;
    height: 170px;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.start__descr {
    max-width: 790px;
    min-height: 58px;
    margin-bottom: 90px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.start__btn {
    padding: 25px 39px;
    transition: background-color 0.3s ease-in-out;
}

.start__btn:focus {
    background-color: #FFB84D;
}

.start__btn:hover {
    background-color: #FFB84D;
}

.stages__btn:active {
    background: #E1670E;
}

/* about-us */
.about-us {
    padding: 50px 0 0;
}

.about-us__tilte {
    margin-bottom: 20px;
    color: #000;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.about-us__descr {
    max-width: 1235px;
    min-height: 192px;
    margin-bottom: 50px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.about-us__left {
    max-width: 868px;
    min-height: 100%;
    margin-right: 32px;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/about-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
}

.left__wrapper {
    max-width: 868px;
    min-height: 196px;
    padding: 50px 50px 50px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.left__descr {
    max-width: 100%;
    min-height: 96px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.start__left__btn {
    padding: 19px 38px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    border: 3px solid #F90;
    background-color: transparent;
    transition: background 0.3s ease-in-out ;
}

.start__left__btn:focus {
    background: #F90;
}

.start__left__btn:hover {
    background: #F90;
}

.start__left__btn:active {
    background: #E1670E;
    border-color: #E1670E;
}

.about-us__right {
    max-width: 100%;
}

.right__item {
    position: relative;
    max-width: 100%;
    padding: 60px;
    border: 1px solid #CACACA;;
    border-radius: 32px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.right__item:not(:last-child) {
    margin-bottom: 32px;
}

.right__item__descr__wrapper {
    flex-direction: column;
}

.right__title {
    margin: 0;
    width: 100%;
    min-height: 29px;
    margin-bottom: 8px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.right__descr {
    margin: 0;
    max-width: 450px;
    min-height: 128px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.svg1 {
    margin-right: 120px;
    margin-top: 45px;
}

.svg1-1 {
    position: absolute;
    top: 65px;
    left: 130px;
}

.svg2 {
    margin-right: 112px;
    margin-top: 45px;
}

.svg2-2 {
    position: absolute;
    top: 80px;
    left: 114px;
}

/* stages */
.stages {
    padding: 100px 0 0;
}

.box{
    width: calc((100%/2) - (32px/2));
    margin-right: 32px;
}

.box:last-child{
    margin-right: 0;
}

.stages__div__left {
    padding-right: 110px;
}

.stages__div__right {
    min-height: 200px;
    background-image: url("../img/stages.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
}

.stages__title {
    margin-bottom: 32px;
}

.stages__title__descr {
    margin: 0;
    margin-bottom: 8px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.stages__div__left__text {
    margin-bottom: 18px;
}

.stages__btn {
    padding: 19px 38px;
    margin-right: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    transition:  background 0.3s ease-in-out;
}

.stages__btn:focus {
    background: #FFB84D;
}

.stages__btn:hover {
    background: #FFB84D;
}

.stages__btn:active {
    background: #E1670E;
}

.stages__btn-contract {
    padding: 19px 38px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    outline: 1px solid #000;
    background-color: transparent;
    transition: background 0.3s ease-in-out,
    outline 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.stages__btn-contract:focus {
    background: #666;
    outline: none;
    color: rgba(255, 255, 255, 1);
}

.stages__btn-contract:hover {
    background: #666;
    outline: none;
    color: rgba(255, 255, 255, 1);
}

.stages__btn-contract:active {
    background: #000;
    color: rgba(255, 255, 255, 1);
}

/* questions */
.questions {
    padding: 100px 0 100px 0;
}

.questions__title {
    margin-bottom: 32px;
}

.questions__list {
    --offsets: 2;
    gap: var(--gap);
    flex-wrap: wrap;
}

.questions__item {
    width: 564px;
    /* width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));; */
    min-height: 292px;
    padding: 65px 65px 65px 60px;
    border: 1px solid #CACACA;
    border-radius: 32px;
}

.item__title {
    margin: 0;
    margin-bottom: 8px;
    max-width: 412px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.item__descr {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* footer */
.footer {
    padding: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 1);
}

.footer_container {
    justify-content: space-around;
    
}

.footer__logo__wrapper {
    margin-bottom: 20px;
}

.nav__link {
    color: #CACACA;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    transition: color 0.3s ease-in-out;
}

.nav__link:focus {
    outline: 2px solid #F90;
    outline-offset: 5px;
}

.nav__link:hover {
    color: #F90;
}

.nav__link:active {
    color: rgba(225, 103, 14, 1);
    outline: none;
}

.footer__nav__item:last-child {
    margin-bottom: 90px;
}

.social__link:not(:last-child) {
    margin-right: 25px;
}

.social__link__svg {
    fill: #666;
    transition: fill 0.3s ease-in-out;
}

.social__link:focus {
    outline: 2px solid #F90;
    outline-offset: 5px;
}

.social__link:hover .social__link__svg {
    fill: #F90;
}

.social__link:active {
    outline: none;
}

.social__link:active .social__link__svg {
    fill: rgba(225, 103, 14, 1);
    outline: none;
}

.footer__logo__img {
    margin-right: 12.16px;
}

.footer__center {
    width: 570px;
    min-height: 494px;
    flex-direction: column;
}

.center__form {
    flex-direction: column;
}

.center__title {
    margin: 0;
    margin-bottom: 25px;
    color: #CACACA;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.form__input {
    max-width: 570px;
    min-height: 60px;
    margin-bottom: 25px;
    padding: 14px 24px;
    color: #CACACA;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background-color: rgba(65, 65, 65, 1);
    border-radius: 16px;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
    background-color: rgba(102, 102, 102, 1);
}

.form__input:hover {
    background-color: rgba(102, 102, 102, 1);
}

.form__input:active {
    background-color: rgba(102, 102, 102, 1);
    color: rgba(255, 255, 255, 1);
}

.form__textarea {
    max-width: 570px;
    height: 150px;
    margin-bottom: 32px;
    padding: 14px 24px;
    color: #CACACA;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background-color: #414141;
    border-radius: 16px;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.form__textarea::placeholder {
    width: 99px;
    min-height: 32px;
}

.form__textarea:focus {
    background-color: rgba(102, 102, 102, 1);
}

.form__textarea:hover {
    background-color: rgba(102, 102, 102, 1);
}

.form__textarea:active {
    background-color: rgba(102, 102, 102, 1);
    color: rgba(255, 255, 255, 1);
}

.form__btn {
    padding: 19px 52px;
    margin-right: 11px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    transition: background 0.3s ease-in-out;
}

.form__btn:focus {
    background: #FFB84D;
}

.form__btn:hover {
    background: #FFB84D;
}

.form__btn:active {
    background: #E1670E;
}

.form__checkbox {
    user-select: none;
    cursor: pointer;
}

.form__checkbox__input {
    appearance: none;
    position: relative;
}

.form__checkbox__text {
    width: 261px;
    position: relative;
    padding-left: 18px;
    color: #CACACA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form__checkbox__text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(202, 202, 202, 1);
    transform: translateY(-50%);
}

.form__checkbox__text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url(../img/Check.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form__checkbox__input:checked + .form__checkbox__text::after {
    opacity: 1;
}

.footer__right__descr {
    max-width: 363px;
    min-height: 320px;
    color: #CACACA;
}

.footer__right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}